<footer class="alert alert-info navbar navbar-fixed-bottom">
    &copy; 2016 | COMP2084
</footer>


<!--js: jquery must be first-->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/scripts.js"></script>


</body>
</html>