<% include partials/header.ejs %>
    <h1><%= title %></h1>
    
<table class="table table-striped">
  <tr>
    <th>User ID</th>
    <th>User Name</th>
  </tr>
  <% for (var i=0; i < accounts.length; i++) { %>
    <tr>
      <td><%= accounts[i].id %></td>
      <td><%= accounts[i].username %></td>
    </tr>
  <% } %>
</table>

<% include partials/footer.ejs %>